data/
doc/methods_descriptions/Metod_gentiana_fenologi2011.doc
doc/methods_descriptions/Metod_gentiana_frukt2011.doc
.Rproj.user
doc/methods/Metod_gentiana_fenologi2011.doc
doc/methods/Metod_gentiana_frukt2011.doc
doc/paper/photo_gallery_bulletin_ESA/IMGP3375.JPG
doc/paper/photo_gallery_bulletin_ESA/IMGP3411.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP3436 copy.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP3437 copy.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP3496 copy.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP3504 copy.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP3894.jpg
doc/paper/photo_gallery_bulletin_ESA/IMGP5759.JPG
doc/paper/photo_gallery_bulletin_ESA/composite1.jpg
doc/paper/photo_gallery_bulletin_ESA/composite1.psd
doc/paper/photo_gallery_bulletin_ESA/composite2.jpg
doc/paper/photo_gallery_bulletin_ESA/composite2.psd
doc/paper/photo_gallery_bulletin_ESA/pics.rar
