data/
doc/methods_descriptions/Metod_gentiana_fenologi2011.doc
doc/methods_descriptions/Metod_gentiana_frukt2011.doc
.Rproj.user
doc/methods/Metod_gentiana_fenologi2011.doc
doc/methods/Metod_gentiana_frukt2011.doc
